In [ ]:
## 2. 데이터 변환

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./activity_sample.csv')

In [ ]:
### 1. 특성의 값이 1개 고정으로 되있는 열 삭제.
##### >> 특성 값이 하나로 되있는 값은 결과에 의미 없다고 판단.
### Unnamed: 0 의미없는 SEQ 라서 삭제.
### memberstatus 멤버상태 는 전체 정회원이라 의미없음
### grade 학년은 5학년 기준인거 확인해서 삭제.
### timestamp ID마다 해당 학습 중 행동이 발생한 시간은 들어간 시간에 예측하는데 필요없다고 판단 삭제

### 학습순서를 의미를 둘려면 밑에 두개 필요 하지만 순서가 이탈하는데랑 여부가 없다판단.
### learning_action_seq 학습중행동순서도 어느시점에 이탈할지 여부랑은 관계없다고 판단 삭제
### learning_seq
# 1차 열 삭제 
###

In [11]:
# 결측치 없는거 재확인
df['memberstatus','grade'].dropna()

0       44
1       44
2       44
3       44
4       44
        ..
6471    44
6472    44
6473    44
6474    44
6475    44
Name: memberstatus, Length: 6476, dtype: int64

In [14]:
# 열 삭제
df_1D = df.drop(['Unnamed: 0', 'memberstatus', 'grade', 'timestamp', 'learning_seq', 'learning_action_seq'], axis=1)

In [15]:
df_1D.head()

,userid,mcode,event_type,action,object_type,gender,memberstatus_change,day_01_status,day_02_status,day_03_status,...,day_23_status,day_24_status,day_25_status,day_26_status,day_27_status,day_28_status,day_29_status,day_30_status,day_31_status,change_date
0,01cf7916-eb98-4d30-8c81-dd52aa5be060,T0TE52U01003,ViewEvent,Viewed,DigitalResource,M,"11,44",11,11,11,...,11,11,44,44,44,44,44,44,999,25
1,01cf7916-eb98-4d30-8c81-dd52aa5be060,T0TE52U01003,NavigationEvent,NavigatedTo,DigitalResource,M,"11,44",11,11,11,...,11,11,44,44,44,44,44,44,999,25
2,01cf7916-eb98-4d30-8c81-dd52aa5be060,T0TE52U01003,ViewEvent,Viewed,DigitalResource,M,"11,44",11,11,11,...,11,11,44,44,44,44,44,44,999,25
3,01cf7916-eb98-4d30-8c81-dd52aa5be060,T0TE52U01003,NavigationEvent,NavigatedTo,DigitalResource,M,"11,44",11,11,11,...,11,11,44,44,44,44,44,44,999,25
4,01cf7916-eb98-4d30-8c81-dd52aa5be060,T0TE52U01003,ViewEvent,Viewed,DigitalResource,M,"11,44",11,11,11,...,11,11,44,44,44,44,44,44,999,25

In [ ]:
### 2. 원핫-인코딩 - (regretion)

In [21]:
# 특성 타입 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6476 entries, 0 to 6475
Data columns (total 45 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           6476 non-null   int64
 1   userid               6476 non-null   object
 2   learning_seq         6476 non-null   int64
 3   mcode                6476 non-null   object
 4   learning_action_seq  6476 non-null   int64
 5   event_type           6476 non-null   object
 6   action               6476 non-null   object
 7   object_type          6476 non-null   object
 8   timestamp            6476 non-null   object
 9   gender               6476 non-null   object
 10  grade                6476 non-null   int64
 11  memberstatus         6476 non-null   int64
 12  memberstatus_change  6476 non-null   object
 13  day_01_status        6476 non-null   object
 14  day_02_status        6476 non-null   object
 15  day_03_status        6476 non-null   object
 16  day_04_status        6476 non-null   object
 17  day_05_status        6476 non-null   object
 18  day_06_status        6476 non-null   object
 19  day_07_status        6476 non-null   object
 20  day_08_status        6476 non-null   object
 21  day_09_status        6476 non-null   object
 22  day_10_status        6476 non-null   object
 23  day_11_status        6476 non-null   object
 24  day_12_status        6476 non-null   object
 25  day_13_status        6476 non-null   int64
 26  day_14_status        6476 non-null   int64
 27  day_15_status        6476 non-null   int64
 28  day_16_status        6476 non-null   int64
 29  day_17_status        6476 non-null   int64
 30  day_18_status        6476 non-null   int64
 31  day_19_status        6476 non-null   int64
 32  day_20_status        6476 non-null   int64
 33  day_21_status        6476 non-null   int64
 34  day_22_status        6476 non-null   int64
 35  day_23_status        6476 non-null   int64
 36  day_24_status        6476 non-null   int64
 37  day_25_status        6476 non-null   int64
 38  day_26_status        6476 non-null   int64
 39  day_27_status        6476 non-null   int64
 40  day_28_status        6476 non-null   int64
 41  day_29_status        6476 non-null   int64
 42  day_30_status        6476 non-null   int64
 43  day_31_status        6476 non-null   int64
 44  change_date          6476 non-null   int64
dtypes: int64(25), object(20)
memory usage: 2.2+ MB

In [18]:
# 원-핫 인코딩이 필요한 열 목록 생성
# columns_to_encode = []

In [ ]:
#df_1D

In [19]:
# 범주형 열 식별
# for column in df_1D.columns:
#     if df_1D[column].dtype == 'object': 
#         columns_to_encode.append(column)

In [20]:
df_1D['mcode'].unique()

array(['T0TE52U01003', 'T0ME52U21009', 'T0KE52U02006', 'T0XE52U01010',
       'T0UE90U11001', 'T9EE51U71001', 'T0ME52U21097', 'T0XE52U01016',
       'T0WE90U20001', 'T0WE30U01001', 'T0KE52U03004', 'T0ME52U21011',
       'T0WE90U20003', 'T9EE51U71002', 'T0WE90U20002', 'T0SE90U07001',
       'T0NE71U02001', 'T0WE90U05001', 'T0WE90U01002', 'T0ME52U21067',
       'T0WE90U20004', 'T0ME52U21114', 'T0ME52U22003', 'T0SE52U10004',
       'T0KE52U03005', 'T0ME52U22004', 'T0TE52U01004', 'T0WE90U20005',
       'T0ME52U22005', 'T0WE90U20006', 'T9EE51U70001', 'T0NE52U11004',
       'T0WE90U20008', 'T0NE52U10001', 'T0SE52U10002', 'T0NE52U11001',
       'T0NE52U11002', 'T0EE52U20002', 'T0NE52U11003', 'T0KE52U02007',
       'T0SE52U10003', 'T0KE52U02009', 'T0KE52U04003', 'T0SE90U16003',
       'T0ME52U21007', 'T0KE52U02005', 'T0SE52U29001', 'T0SE52U29002',
       'T0ME52U21008', 'T0SE52U29003', 'T0SE52U29004', 'T0SE52U29005',
       'T0EE52U07002', 'T0SE52U30001', 'T0SE52U30002', 'T0SE52U30003',
       'T0XE52U01013', 'T0XE52U01011', 'T0SE52U30004', 'T0SE52U30005',
       'T0XE52U01014', 'T0ME52U21004', 'T0SE90U04006', 'T0SE52U09001',
       'T9EE31U19001', 'T0KE52U02003', 'T0ME52U21003', 'T0KE52U02004',
       'T0ME52U21005', 'T0ME52U21006', 'T0NE52U09001', 'T9EE31U19002',
       'T0EE52U02001', 'T0XE52U01019', 'T0HE90U36014', 'T0XE52U01021',
       'T0EE52U02002', 'T0ME52U22038', 'T0XE52U01008', 'T0KE52U03007',
       'T0XE52U01022', 'T0WE90U01016', 'T0SE52U11001', 'T0NE52U04002',
       'T0XE52U01025', 'T9EE10U04001', 'T0NE52U12001', 'T0XE52U01024',
       'T0KE52U03009', 'T0ME51U43008', 'T0ME51U43009', 'T0KE61U23001',
       'T0ME51U24058', 'T0SE51U08002', 'T0KE52U02002', 'T0EE52U07003',
       'T0KE52U02008', 'T0ME51U43010', 'T0ME51U43011', 'T0ME51U43012',
       'T0TE22U05001', 'T0TE22U08001', 'T0OE12U05018', 'T0OE11U03018',
       'T0ME51U45009', 'T0EE52U02003', 'T0NE52U13001', 'T0ME52U21014',
       'T0ME52U24014', 'T0ME51U24005', 'T0ME51U24114', 'T0EE52U53004',
       'T0EE52U53005', 'T0EE52U54001', 'T0EE52U54002', 'T0KE52U02031',
       'T0EE52U53006', 'T0ME52U21010', 'T0ME52U21090', 'T0EE52U14001',
       'T0KE42U01002', 'T0SE52U10001', 'T0ME72U07041', 'T0ME72U07042',
       'T0ME72U07043', 'T0ME72U07044', 'T0ME72U07045', 'T0ME72U10032',
       'T0KE52U03003', 'T0ME72U10033', 'T0SE52U10005', 'T0ME72U10034',
       'T0ME72U10035', 'T0ME72U10036', 'T0ME72U10037', 'T0KE52U03006',
       'T0EE52U02035', 'T0WE90U12001', 'T0ME72U10038', 'T0SE52U11002',
       'T0ME72U10039', 'T0NE52U11006', 'T0ME72U10040', 'T0ME72U12038',
       'T9EE52U75001', 'T0ME62U21003', 'T0ME61U21005', 'T9EE32U22001',
       'T0ME52U21062', 'T0SE52U18007', 'T0ME52U22006', 'T0SE90U05002',
       'T0ME52U26002', 'T0NE52U07025', 'T9WE90U53086', 'T0TE52U02002',
       'T0XE52U02016', 'T0ME52U23004', 'T0ME52U23005', 'T0ME52U23006',
       'T0ME52U24003', 'T0ME52U24004', 'T0ME52U26115', 'T0KE52U06001',
       'T0SE51U07017', 'T0SE51U08014', 'T0EE52U13001', 'T0KE52U16001',
       'T0ME52U22007', 'T0NE52U12003', 'T0NE52U04003', 'T0EE52U21001',
       'T9WE90U01127', 'T9WE90U55068', 'T9WE90U55067', 'T9WE90U32004',
       'T9WE90U32059', 'T0NE52U15001', 'T0TE52U02003', 'T0SE90U08008',
       'T0SE52U11003', 'T0KE52U04004', 'T0WE30U01002', 'T0NE90U01035',
       'T0NE90U01036', 'T0NE90U01031', 'T0KE52U02021', 'T0NE52U12002',
       'T0NE90U01023', 'T0NE90U01024', 'T0NE90U01034', 'T0NE90U01037',
       'T0NE61U26005', 'T0ME52U22008', 'T0EE52U03001', 'T9EE22U21001',
       'T9EE22U21002', 'T0ME50U01005', 'T0NE51U12014', 'T0SE52U10006',
       'T0WE90U11001', 'T9WE90U03013', 'T9WE90U03005', 'T0FE50U01002',
       'T0FE50U01004'], dtype=object)

In [24]:
df_1D.head()

,userid,mcode,event_type,action,object_type,gender,memberstatus_change,day_01_status,day_02_status,day_03_status,...,day_23_status,day_24_status,day_25_status,day_26_status,day_27_status,day_28_status,day_29_status,day_30_status,day_31_status,change_date
0,01cf7916-eb98-4d30-8c81-dd52aa5be060,T0TE52U01003,ViewEvent,Viewed,DigitalResource,M,"11,44",11,11,11,...,11,11,44,44,44,44,44,44,999,25
1,01cf7916-eb98-4d30-8c81-dd52aa5be060,T0TE52U01003,NavigationEvent,NavigatedTo,DigitalResource,M,"11,44",11,11,11,...,11,11,44,44,44,44,44,44,999,25
2,01cf7916-eb98-4d30-8c81-dd52aa5be060,T0TE52U01003,ViewEvent,Viewed,DigitalResource,M,"11,44",11,11,11,...,11,11,44,44,44,44,44,44,999,25
3,01cf7916-eb98-4d30-8c81-dd52aa5be060,T0TE52U01003,NavigationEvent,NavigatedTo,DigitalResource,M,"11,44",11,11,11,...,11,11,44,44,44,44,44,44,999,25
4,01cf7916-eb98-4d30-8c81-dd52aa5be060,T0TE52U01003,ViewEvent,Viewed,DigitalResource,M,"11,44",11,11,11,...,11,11,44,44,44,44,44,44,999,25

In [25]:
# 다중분류 컬럼 목록
columns_to_encode = ['userid', 'mcode', 'event_type', 'action', 'object_type', 'gender', 'memberstatus_change']

# 나머지 열들에 대해 원-핫 인코딩 적용
data_encoded = pd.get_dummies(df_1D, columns=columns_to_encode)

# 인코딩된 데이터의 첫 몇 행을 출력
print(data_encoded.head())

  day_01_status day_02_status day_03_status day_04_status day_05_status  \
0            11            11            11            11            11
1            11            11            11            11            11
2            11            11            11            11            11
3            11            11            11            11            11
4            11            11            11            11            11

  day_06_status day_07_status day_08_status day_09_status day_10_status  ...  \
0            11            11            11            11            11  ...
1            11            11            11            11            11  ...
2            11            11            11            11            11  ...
3            11            11            11            11            11  ...
4            11            11            11            11            11  ...

  object_type_WebPage gender_F  gender_M  gender_X  \
0               False    False      True     False
1               False    False      True     False
2               False    False      True     False
3               False    False      True     False
4               False    False      True     False

   memberstatus_change_-,00,01,44  memberstatus_change_-,02,01,44  \
0                           False                           False
1                           False                           False
2                           False                           False
3                           False                           False
4                           False                           False

   memberstatus_change_00,01,44  memberstatus_change_00,11,44  \
0                         False                         False
1                         False                         False
2                         False                         False
3                         False                         False
4                         False                         False

   memberstatus_change_11,44  memberstatus_change_11,55,44
0                       True                         False
1                       True                         False
2                       True                         False
3                       True                         False
4                       True                         False

[5 rows x 292 columns]

In [28]:
len(data_encoded)

6476

In [29]:
# csv로 확인하기
data_encoded.to_csv('encoded_data.csv', index=False)
# data_encoded.csv로 만들어짐